<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>CollaRef: Asset Reference for Banks</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">CollaRef</a>
        </div>
        <div>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <div class="card">
            <a href="asset.html">
              <img class="medium" src="./houses/house1.jpg" alt="house" />
            </a>
            <div class="card-body">
              <a href="asset.html">
                <h2>House No: D27/3</h2>
              </a>
              <div class="price">
                <span class="title-color">Owner:</span>
                Sam Couffie
                <br />
                <span class="title-color">Collateral Bank:</span>
                GCB Tudu Branch
                <br />
                <span class="title-color">Collateral Status:</span>
                Pending
                <br />
                <span class="title-color">GPS Address:</span>
                GT 765-321
              </div>
            </div>
          </div>
          <div class="card">
            <a href="asset.html">
              <img class="medium" src="./houses/house2.jpg" alt="house" />
            </a>
            <div class="card-body">
              <a href="asset.html">
                <h2>House No: D28/3</h2>
              </a>
              <div class="price">
                <span class="title-color">Owner:</span>
                Kofi Pentsil
                <br />
                <span class="title-color">Collateral Bank:</span>
                GCB Ecobank, Ridge Branch
                <br />
                <span class="title-color">Collateral Status:</span>
                Pending
                <br />
                <span class="title-color">GPS Address:</span>
                GT 765-321
              </div>
            </div>
          </div>
          <div class="card">
            <a href="asset.html">
              <img class="medium" src="./houses/house3.jpg" alt="house" />
            </a>
            <div class="card-body">
              <a href="asset.html">
                <h2>House No: F28/3</h2>
              </a>
              <div class="price">
                <span class="title-color">Owner:</span>
                Yaw Attah
                <br />
                <span class="title-color">Collateral Bank:</span>
                NIB Accra Central Branch
                <br />
                <span class="title-color">Collateral Status:</span>
                Pending
                <br />
                <span class="title-color">GPS Address:</span>
                GT 765-321
              </div>
            </div>
          </div>
          <div class="card">
            <a href="asset.html">
              <img class="medium" src="./houses/house4.jpg" alt="house" />
            </a>
            <div class="card-body">
              <a href="asset.html">
                <h2>House No: E28/3</h2>
              </a>
              <div class="price">
                <span class="title-color">Owner:</span>
                Sam Johnson
                <br />
                <span class="title-color">Collateral Bank:</span>
                GCB Circle Branch
                <br />
                <span class="title-color">Collateral Status:</span>
                Completed
                <br />
                <span class="title-color">GPS Address:</span>
                GT 765-321
              </div>
            </div>
          </div>
          <div class="card">
            <a href="asset.html">
              <img class="medium" src="./houses/house5.jpg" alt="house" />
            </a>
            <div class="card-body">
              <a href="asset.html">
                <h2>House No: D28/3</h2>
              </a>
              <div class="price">
                <span class="title-color">Owner:</span>
                Dora Bruku
                <br />
                <span class="title-color">Collateral Bank:</span>
                GCB Asokwa, Kumasi Branch
                <br />
                <span class="title-color">Collateral Status:</span>
                Completed
                <br />
                <span class="title-color">GPS Address:</span>
                GT 765-321
              </div>
            </div>
          </div>
          <div class="card">
            <a href="asset.html">
              <img class="medium" src="./houses/house6.jpg" alt="house" />
            </a>
            <div class="card-body">
              <a href="asset.html">
                <h2>House No: G28/3</h2>
              </a>
              <div class="price">
                <span class="title-color">Owner:</span>
                Sylvia Bruce-Parks
                <br />
                <span class="title-color">Collateral Bank:</span>
                GTB Osu Branch
                <br />
                <span class="title-color">Collateral Status:</span>
                Pending
                <br />
                <span class="title-color">GPS Address:</span>
                GT 765-321
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">
        All right reserved
      </footer>
    </div>
  </body>
</html>
